<div id="wrapper">
    <div id="title">
        <h1 contenteditable="true" (blur)="changeDocumentTitle($event)">{{document.title}}</h1>
    </div>
    <script>
        var myCodeMirror = CodeMirror(document.body, {
                value: "function myScript(){return 100;}\n",
                mode:  "javascript"
            });
    </script>
    <div id="body">
        Hints:
        <br> CTRL + P = parse
        <br> CTRL + N = new paragraph
        <br> CTRL + C = new chapter
        <br> Goto chapter (index+enter):
        <input value="" type="text" #current (keydown)="gotoChapter($event, current.value)">
        <br>
        <br>
        <div id="container">
            <div id="left">
                <ul>
                    <chapteritem (toBeDeleted)="deleteChapterFromDB(chapter.id)" [(chapterId)]="chapter.id" [(documentId)]="document.id" [(chapterName)]="chapter.header"
                    *ngFor="#chapter of document.chapters; #i = index" (click)="changeChapter(i)"></chapteritem>
                </ul>
            </div>


            <div id="center">
                <div *ngFor='#p of document.chapters[current_chapter].paragraphs; #i = index'>
                    <!--<textarea class="testclass" id="para" type="text" [(ngModel)]="p.raw" style="width: 100%; height: 100%;" (keydown)="modifierKeyDownPress($event)"
                    (keyup)="changeDocument($event, i)"></textarea>-->
                    <!--<textarea class="testclass" id="para" type="text"style="width: 100%; height: 100%;">hei på dere</textarea>-->
                    <cmcomponent [index]=i [parsedParagraph]="parsedParagraph[i]" [chapterId]=document.chapters[current_chapter].id [paragraph]=p></cmcomponent>

                </div>
                <!--<textarea class="testclass">{{document.chapters[0].paragraphs[0].raw}}</textarea>-->
            </div>
            <div id="right">
                <iframe id="previewFrame" src="about:blank"></iframe>
            </div>

        </div>
    </div>
</div>