<!-- editor and topbar frame -->
<div class="editorContainerBox">
    <div class="beforeEditorContainer">
        <div class="btn-group" dropdown keyboardNav="true">
            <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" dropdownToggle>
                Choose chapter <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                <chapteritem (toBeDeleted)="deleteChapterFromDB(chapter.id)" [(chapterId)]="chapter.id" [(documentId)]="document.id" [(chapterName)]="chapter.header"
                *ngFor="#chapter of document.chapters; #i = index" (click)="changeChapter(i)"></chapteritem>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>
        <div id="title">
            <h2 contenteditable="true" (blur)="changeDocumentTitle($event)">{{document.title}}</h2>
        </div>
        <div id="buttonsContainer">
            <button id="insertheader" style="font-style: bold">header</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button id="insertbold" style="font-weight: bold">b</button>
            <button id="insertitalic" style="font-style: italic">i</button>
            <button id="insertunderline" style="text-decoration: underline;">u</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <!-- <button id="insertimagetest" style="font-style: bold">imagetest</button> -->
            <button (click)="showUploadDivToggle(true)" id="uploadImageButton" style="">upload Image</button>
        </div>
    </div>
    <div class="editorContainer">
        <cmcomponent id="cmcomponent" [chapterId]=document.chapters[current_chapter].id [lines]=document.chapters[current_chapter].lines
        [changeOrderFrom]=changeOrder.from [changeOrderTo]=changeOrder.to [changeOrderText]=changeOrder.text></cmcomponent>
    </div>
</div>

<!-- widgets -->
<div class="widget-templates">
    <span class="bold-widget"></span>
    <span contenteditable="true" class="italic-widget"></span>
    <span contenteditable="true" class="underline-widget"></span>
    <span contenteditable="true" class="image-edit"></span>
    <h1 contenteditable="true" class="header-widget"></h1>

    <div class="image-widget" style="background-color: #EEE">
		<img class="image-frame" src="test.jpg" height="100px" width="100px">
		<br>
		<span class="image-text">This is some text</span>
	</div>

</div>

<section *ngIf="showUploadDiv">
    <div id="uploadDiv">
        <button (click)="showUploadDivToggle(false)"> Close</button>
    </div>
</section>
