<button (click)="pluginModal.open()">Upload plugin</button>
<modal #pluginModal (onOpen)="onModalOpen()">
    <modal-header>
        <h2>Upload plugin</h2>
    </modal-header>
    <modal-content>
        <div class="plugin-uploader-container">
            <label for="pluginname">Name</label>
            <input type="text" class="form-control" id="pluginname" [(ngModel)]="pluginname" />

            <textarea id="uploadTextArea"></textarea>
            <alert *ngFor="#alert of alerts;#i = index" [type]="alert.type" dismissible="true" (close)="closeAlert(i)">
                {{ alert?.msg }}
            </alert>
        </div>
    </modal-content>
    <modal-footer>
        <button (click)="submit()" class="btn btn-primary">Submit</button>
        <button (click)="pluginModal.close()" class="btn btn-danger" >Close</button>
    </modal-footer>
</modal>