html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  margin-left: 15px;
}

.box .row {
  /*flex: 0 1 30px;*/
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
  height: 100%;
  position: relative;
}

#title {
  color: black;
  text-align: center;
}

#title h2 {
    margin-bottom: 5px;
    margin-top: 5px;
}

#changeDocumentName {
  margin-left: auto;
  margin-right: auto;
}

#changeDocumentNameInput {
  margin-left: auto;
  margin-right: auto;
  width: 15em;
  outline: none;
}

#chapterLi:hover {
    color: blue;
}

#chapterItem {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#cmcomponentwrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
}

#chapter_bar {
    position: relative;
    flex: 0 1 auto;
    width: 200px;
    height: 100%;
    display: flex;
    flex-flow: column;
}

#editor_div {
    position: relative;
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
}

.modal-content{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.plugin-uploader-container{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 60%;
}

.modal-body{
    width:100%;
    height: 100%;   
}

.images-uploader-container{
    width: 100%;
    height: 60%;
}

.modal-lg {
    height: 80%;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.modal-sm {
    /*height: 500px;*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#chaptersContainer {
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    position: relative;
}

#chaptersContainerScrollBox {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-y: scroll;
}

.droptarget.active {
    background-color: lightblue;
}

#newchapter {
    width: 100%;
    height: 40px;
    font-size: 30px;
    text-align: center;
    border-top: 2px solid black;
    background-color: #EEEEEE;
}

#newchapter:hover {
    background-color: #ddd;
}

#chapterItem:hover {
    background-color: #ccc;
}

#editorContainer {
    position: relative;
    height: 100%;
    width: 100%;
}

#cmcomponent {
    position: absolute;
    height: 100%;
    width: 100%;
}

#containerForEditor {
    position: relative;
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    /* Disable selection so it doesn't get annoying */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

#containerForEditor #leftInContainerForEditor {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    margin-right: 20px;
    right: 40%;
}

#containerForEditor #rightInContainerForEditor {
    position: absolute;
    height: 100%;
    right: 20px;
    top: 0;
    bottom: 0;
    width: 40%;
    overflow-x: none;
    overflow-y: none;
}

#containerForEditor #handle2 {
    position: absolute;
    height: 100%;
    overflow-y: none;
    overflow-x: none;
    /*left: -3px;*/
    top: 0;
    bottom: 0;
    width: 6px;
    background-color: black;
    cursor: w-resize;
    z-index: 11;
}

#sidebarbutton {
    /*font-size: 16px;*/
}

#deleteChapterButton {
    width: 30px;
    height: 100%;
    flex: 0 1 auto;
}

#chapterItemText {
    font-size: 13px;
    margin-left: 5px;
    flex: 1 1 auto;
}

.roundedBorder {
    border: 2px solid black;
    padding: 50px;
    outline: black solid 5px;
    outline-offset: 5px;
    height: 800px;
}

.widget-templates {display:none}

.bold-widget {
    font-weight: bold;
}

.italic-widget {
    font-style: italic;
}

.underline-widget {
    text-decoration: underline;
}

.cursor-widget {
    width: 20px;
    height: 20px;
}

.header-widget {
    /*display: block;*/
    font-size: 2em;
    /*margin-top: 0.67em;
    margin-bottom: 0.67em;*/
    /*margin-left: 0;
    margin-right: 0;*/
    font-weight: bold;
}

.editorContainerBox {
    display: flex;
    flex-flow: column;
    position: absolute;
    height: 100%;
    width: 100%;
}

.beforeEditorContainer {
    flex: 0 1 auto;
    position: relative;
}

.editorContainer {
    flex: 1 1 auto;
    position: relative;
}

#buttonsContainer {
    height: 35px;
    width: 100%;
    background-color: #ccc;
    border: 1 px solid black;
    padding: 5px;
    border-radius: 3px;
}

#previewframe {
    /*margin-top: 40px;*/
    height: 100%;
    /*width: 80%;*/
    width: 98%;
    /*margin-left: 40px;*/
    /*margin-right: 40px;*/
    background-color: gray;
    /*margin: auto;*/
    display: block;
    padding-left: 10px;
    overflow: scroll;
    word-wrap: break-word;
}

.uploadPluginDiv{
    z-index: 999;
    background-color: lightsteelblue;
    width: 80%;
    height: 80%;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.photosInUploadDiv{
    width: 100%;
    height: 60%;
    top:0;
    overflow-y: scroll;
    overflow-x: scroll;
}

.singlePhotoInDivUpload{
    margin: 1%;
    width:150px;
    height:150px;
    float:left;
}

.imgInButtonUpload{
    margin: 1%;
    width:100%;
    height:100%;
    float:left;
}

.columns{
    margin: 10%;
    height: 80%;
    width: 80%;
}

.headerForUpload{
    text-align: center;
}

.is-4{
    width: 35%;
    height: 30%;
    float: left;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgreen;
    margin: 7%;

}

.message-header{
    text-align: center;
}

.message-body{
    text-align: center;
}

.image-widget {
    padding:10px 0;
    background-color:#f4f4f4;
    box-shadow:2px 2px 2px #DEDEDE;
    width:96%;
    text-align: center;
    margin: 0 auto;
}
.image-frame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*margin:0 auto;*/
    /*text-align:center;*/
}
.image-text {
    display: inline-block;
    padding:3px 0 4px;
    font-size:small;
    margin:0 auto;
    /*text-align:center;*/
}

#settingsContainer{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100%;
}

.settingsLeftTable {
    list-style-type: none;
    background-color: #f4f4f4;
    height: 100%;
    flex: 0 1 auto;
    width: 200px;
}

.settingsLeftTableItem{
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

.settingsLeftTable .settingsLeftTableItem.active {
    background-color: #4CAF50;
    color: white;
}

.settingsLeftTableItem:hover {
    background-color: #555;
    color: white;
}

.settingsPageright{
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

.selectDocumentInSettings{
 list-style-type: none;
 list-style-position: none;
 list-style-image: none;
 margin: 0 0 3px 0;

}

.scrollableview{
    width: 90%;
    height: 82%;
    position: absolute;
    overflow-y: scroll;

}

.activeSettings{
    background-color: lightblue;
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

.dashboard{
    width: 100%;
    height: 90%;
    overflow-x: scroll;
}

.docView{
    background-color: white;
    border: 2px solid black;
        padding: 5px;
        border-radius: 0px;
        text-align: center;
        overflow-y: 300px;
        width: 200px;
    height: 282px;
    overflow: scroll;
    float:left;
    margin: 3%;
}

.docDelete{
    float: right;
    top: 0px; 
    right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
}

#pluginpageheader {
    padding-left: 20px;
    height: 75px;
    position: relative;
    flex: 0 1 auto;
}

.settingsPagerightPlugin {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-flow: column;
    /*word-wrap: break-word;*/
}

#scrollableviewplugin {
    width: 100%;
    height: 100%;
    position: relative;
    flex: 1 1 auto;
}

#pluginTableWrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

#pluginpagetable {
    width: 100%;
}

.pluginpagetabletr1 {
    height: 30px;
    border-bottom: 1px gray solid;
    /*display: flex;
    flex-flow: row;*/
}

.pluginpagetabletr2 {
    /*display: flex;
    flex-flow: row;*/
    width: 100%;
}

.pluginpagetabletd1 {
    padding-left: 20px;
    width: 150px;
    /*flex: 0 1 auto;*/
}

.pluginpagetabletd2 {
    padding-left: 20px;
    /*flex: 1 1 auto;*/
    /*width: 100%;*/
}

#selectFont {
    width: 150px;
}
