#wrapper {
  display: block;
}

#title {
  color: orange;
  text-align: center;
}

#body {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 16px;
}

#documentName {
}

#changeDocumentName {
  margin-left: auto;
  margin-right: auto;
}

#changeDocumentNameInput {
  margin-left: auto;
  margin-right: auto;
  width: 15em;
  outline: none;
}

#textAreaWrapper {
  display: flex;
}

#textArea {
  outline: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #888;
  resize: none;
  font-size: 14px;
}

/* testing */

#cointainer {
    width: 100%;
    font-size: 12px;
    overflow: hidden; /* contain floated elements */
    background: #ccc
}
#left {
    float: left;
    width: 33%;
    background-color: #bbb;
}
#center {
    float: left;
    background-color: #eee;
    width: 33%;
}
#right {
    float: left;
    width: 33%;
    background-color: #bbb;
}
