#wrapper {
  display: block;
}

textarea {
    border: none;
    resize: none;
    overflow: hidden;
    display: block;
}

#title {
  color: black;
  text-align: center;
}

#body {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 16px;
}

#documentName {
}

#changeDocumentName {
  margin-left: auto;
  margin-right: auto;
}

#changeDocumentNameInput {
  margin-left: auto;
  margin-right: auto;
  width: 15em;
  outline: none;
}

#chapterLi:hover {
    color: blue;
}

#chapterItem {
    margin-left: 2em;
}

#chapterItem:hover {
    background-color: #ccc
}

#container {
    height: 1200px;
    /*height: auto;*/
    width: 100%;
}

#containerForEditor {
    top: 40px;
    position: relative;
    /*width: 100%;*/
    height: 100%;
    /* Disable selection so it doesn't get annoying */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

#containerForEditor #leftInContainerForEditor {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 40%;
    /*background: red;*/
}

#containerForEditor #rightInContainerForEditor {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    background: white;
}

#containerForEditor #handle2 {
    position: absolute;
    left: -8px;
    top: 0;
    bottom: 0;
    width: 8px;
    background-color: black;
    cursor: w-resize;
    z-index: 11;
}

.roundedBorder {
    border: 2px solid black;
      padding: 50px;
      outline: black solid 5px;
      outline-offset: 5px;
      height: 800px;
  }
.widget-templates {display:none}

.bold-widget {
    font-weight: bold;
}

.italic-widget {
    font-style: italic;
}

.underline-widget {
    text-decoration: underline;
}

.header-widget {

}

#buttonsContainer {
    /*width: 84.5%;*/
    height: 40px;
    width: 100%;
    background-color: #ccc;
    position:fixed;
    z-index: 99;
    /*top:250px;*/
    border: 1 px solid black;
        padding: 5px;
        border-radius: 3px;
}

#previewframe {
    height: 100%;
    width: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #AAFFFF;*/
    word-wrap: break-word;
}

#uploadDiv{
    background-color: greenyellow;
    width: 50%;
    height: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.image-widget {
    padding:10px 0;
    background-color:#f4f4f4;
    box-shadow:2px 2px 2px #DEDEDE;
    width:96%;
    text-align: center;
    margin: 0 auto;
}
.image-frame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*margin:0 auto;*/
    /*text-align:center;*/
}
.image-text {
    display: inline-block;
    padding:3px 0 4px;
    font-size:small;
    margin:0 auto;
    /*text-align:center;*/
}
