<div class="container">
  <div>
    <h1>Register Form</h1>
    <form (ngSubmit)="onRegister()" #registerForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" required [(ngModel)]="user.username" ngControl="name" #name="ngForm">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Username is required
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" [(ngModel)]="user.password" ngControl="pass" #pass="ngForm">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
  <alert *ngFor="#alert of alerts;#i = index" [type]="alert.type" dismissible="true" (close)="closeAlert(i)">
    {{ alert?.msg }}
  </alert>
</div>
