<div class="settingsPageright">
    <section *ngIf="noDocumentId">
        <h1> Document style</h1>
    </section>

    <section *ngIf="gotDocumentId">
        <h2> Document style for: {{title}}</h2>
        <br>
        <button type="button" (click)="updateStyle()">Update style</button>
        <a href="/docs/{{documentId}}" type="button">Go back to document</a>
        
    </section>
<br>

<alert *ngFor="#alert of alerts;#i = index" [type]="alert.type" dismissible="true" (close)="closeAlert(i)">
    {{ alert?.msg }}
  </alert>

    <div class="scrollableview">
        <section *ngIf="noDocumentId">
            <ul>
                
                
                <li class="selectDocumentInSettings" id="select"  *ngFor="#doc of docs; #i = index">
                    <button style="width:20%;" (click)="setDocumentId(doc.id,i)" >{{doc.title}}</button>
                </li>
            </ul>
        </section>

        <section *ngIf="gotDocumentId">
            <tr id="styleItems" *ngFor="#styleItem of styleItems; #i = index">
                <td>{{styleItem}}:</td>
                <td> <input type="text" [(ngModel)]="styleInput[styleItem]" /> </td>
            </tr>
        </section>
    </div>
</div>
