<div class="settingsPageright">
    <section *ngIf="noDocumentId">
        <h1> Document style</h1>
    </section>

    <section *ngIf="gotDocumentId">
        <h2> Document style for: {{title}}</h2>
        <br>
        <button type="button" (click)="updateStyle()">Update style</button>
        <a href="/docs/{{documentId}}" type="button">Go back to document</a>
    </section>

    <div class="scrollableview">
        <section *ngIf="noDocumentId">
            <ul>
                <li id="select" (click)="setDocumentId(doc.id,i)" *ngFor="#doc of docs; #i = index">{{doc.title}}:
                </li>
            </ul>
        </section>

        <section *ngIf="gotDocumentId">
            <tr id="styleItems" *ngFor="#styleItem of styleItems; #i = index">
                <td>{{styleItem}}:</td>
                <td> <input type="text" [(ngModel)]="styleInput[styleItem]" /> {{styleInput[styleItem]}}</td>
            </tr>
        </section>
    </div>
</div>