<!-- <div class="parent">
    qweqw
    <div id="test112">1
        <textarea id="linesEditor"></textarea>2
    </div>
    5
    <div class="child" id="previewframe">
        otherside
    </div>
</div> -->


<div id="containerForEditor">
    <div id="leftInContainerForEditor">
        <textarea id="linesEditor"></textarea>
    </div>
    <div id="rightInContainerForEditor">
        <!-- Actual resize handle -->
        <div id="handle2">
        </div>
        <!-- preview -->
        <div id="previewframe"></div>
    </div>
</div>
