<div id="cmcomponentwrapper">
    <div id="chapter_bar">
        <div id="chaptersContainer">
            <div id="chaptersContainerScrollBox">
                <div *ngFor="#chapter of document.chapters; #i = index" id="chapter_item_{{i}}" draggable="true" class="droptarget">
                    <chapteritem (toBeDeleted)="deleteChapterFromDB(i)" [(chapterId)]="chapter.id" [(documentId)]="document.id" [(chapterName)]="chapter.header"
                        (click)="changeChapter($event, i)" [chapterNr]=i></chapteritem>
                </div>
            </div>
        </div>
        <div id="newchapter" (click)="createChapter()">
            +
        </div>
    </div>
    <div id="containerForEditor">
        <div id="leftInContainerForEditor">

            <div id="editor_div">
                <textarea id="linesEditor"></textarea>
            </div>
        </div>
        <div id="rightInContainerForEditor">
            <!-- Actual resize handle -->
            <div id="handle2">
            </div>
            <iframe id="previewframe"></iframe>
        </div>
    </div>
</div>
